@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Pop {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

html {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

body {
  margin: 0;
}

/* HEADER */
.header {
  margin: 0;
  padding: 50px 0 0 15px;
  background-color: white;
  width: 100vw;
  transition: all 0.25s ease-out;
  background-color: red;
}
.header-fixed {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: blue;
}
.header-atTop {
  height: 20vh;
}
.header-notAtTop {
  height: 10vh;
  padding: 20px 0 0 15px;
}
.header-atTop h1 {
  font-size: 3em;
}
.header-notAtTop h1 {
  font-size: 2em;
}

h1 {
  animation: fadein 0.25s;
  font-weight: 300;
  font-size: 3em;
}

.topics {
  background-color: #f9f9f9;
  width: 100vw;
  height: 200vh;
  padding-top: 20px;
}

.topic {
  margin: 20px 15px 20px 15px;
  transition: all 0.2s;
  animation: Pop 0.25s ease-out;
  animation-fill-mode: both;
}

.topics .topic:nth-child(1) {
  animation-delay: 0.02s;
}
.topics .topic:nth-child(2) {
  animation-delay: 0.04s;
}
.topics .topic:nth-child(3) {
  animation-delay: 0.08s;
}
.topics .topic:nth-child(4) {
  animation-delay: 0.1s;
}
.topics .topic:nth-child(5) {
  animation-delay: 0.12s;
}
.topics .topic:nth-child(6) {
  animation-delay: 0.14s;
}
.topics .topic:nth-child(7) {
  animation-delay: 0.16s;
}

.topic-container {
  display: flex;
  font-weight: 100;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.topic-container .text {
  width: 100%;
  min-height: 3em;
}

.tags {
  font-weight: 500;
  text-shadow: 0 0 3px #a4a4a4;
  cursor: pointer;
}

.arrow-container {
  position: relative;
  width: 60px;
}

.arrow {
  top: 30%;
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid lightgray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transition: all 0.2s;
}

.topic:hover .arrow {
  transform: translatex(30px) scale(1, 2) rotate(-45deg);
}

.right {
  transform: scale(1, 2) rotate(-45deg);
}

.bottomBar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  padding-top: 18px;
  z-index: 2;
  background-color: white;
}

.bottomBar > div {
  font-size: 1.3em;
  color: #000000;
}
